.header {
    display: flex;
    flex-direction: column;
    background-color: #154734;
    color: white;
}

.name {
    display: flex;
    align-self: center;
}

.nav {
    display: flex;
    background-color: #F8E08E;
}

.link {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px 0px;
    color: black;
    text-decoration: none;
}

.title{
    display: flex;
    align-self: center;
    flex-direction: row;
    width: auto;
}

.logbutton{
    display: flex;
    align-self: center;
    justify-self: end;
    flex-wrap: wrap;
}

.tabActive, .link:hover {
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 12px 0px;
    color: black;
    text-decoration: none;
    background-color: #F2C75C;
}